@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 900; 
}



body{
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to bottom, #B9E5EB 0%, #ffff 70%); 
  min-height: 100vh;
  }
header{
background-color: #8BD3DD;


}
.carousel-image {
height: 500px; 
object-fit: cover;
}
.carousel-container {
border-width: 3px;
border-style: solid;
border-color: #794210;
border-radius: 30px;
height: 500px; 
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
background-color: #8BD3DD; 
}
.carousel-container img {
max-height: 100%;
width: auto;
}


.navbar-brand img {
max-width: 80px;
height: auto;
vertical-align: middle;
}

.navbar-nav .nav-item .btn {
color: #000000; 

margin-left: 10px; 
background-color: #FAF3DE;
}
.d-flex .btn{
background-color: #FAF3DE;
}

.navbar-nav .nav-item .btn:hover {
color: #000000; 
background-color: #ffffff; 
border-color: #ffffff; 
}

.navbar-nav .nav-item .btn.active {
background-color: #8BD3DD; 
border-color: #8BD3DD; 
}

.navbar-nav .nav-item .btn:focus {
box-shadow: none; 
}



.footer {
  background-color: #B9E5EB;
  color: rgb(20, 10, 10);
  padding: 0px;
  width: 100%;
  bottom: 0px; 
  margin-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0px;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section ul li, .footer-section ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #794210; 
  text-decoration: none;
}

.footer-section ul {
  padding: 0;
  float: left;
  margin: 30px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid 
  
}


.recomendacion{
  color: #794210;
}

/* .precios{
padding: 20;
color: #000000;
display: flex; */

.precios ul li{
list-style: none
}

.nose{
color: #794210;
}
.mapas{
padding: 100px;
display: flex;
} 
.bg-brown {
  background-color: #8B4513;
}


.bloque {
  background-color: #fff;
  border: 1px solid #c84444;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.footer {
  background-color: #B9E5EB;
  color: rgb(20, 10, 10);
  padding: 0px;
  width: 100%;
  bottom: 0px; 
  margin-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0px;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 60px;
}

.footer-section p, .footer-section ul, .footer-section ul li, .footer-section ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #794210; 
  text-decoration: none;
}

.footer-section ul {
  padding: 0;
  float: left;
  margin: 30px;
}

.footer-section ul li {
  margin-bottom: 10px;

  
}
.footer-section ul li a{
  color: #794210;
}
.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid 
  
}

.lista1{
  list-style: none;
  
}
.lista1 li a{
  color: #794210;
  text-decoration: none;
  margin-bottom: 40px;
}